@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    background-color: #34495e;
    max-width: 100%;
    height: 9vh;
}

.logo{
    font-size: 3.7vh;
    padding-top: 1vh;
    padding-left: 2vh;
    color: #fff;
}

h2, p{
    text-align: center;
}

.container{
    margin-top: 5vh;
    color: #333;
    font-size: 2.5vh;
}

.container .link-example{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 3vh;
    color: #2980b9;
}

.search{
    margin-top: 5vh;
}

#input-link{
    width: 30%;
    height: 6vh;
    padding-left: 2vh;
    display: flex;
    margin: 0 auto;
    margin-top: 7vh;
    font-size: 2vh;
}

.btn-search{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
    padding: 1.2vh;
    background-color: #2980b9;
    color: #fff;
    border: 1px solid;
    margin-top: 6vh;
    border-radius: 3vh;
}

.btn-search:hover{
    cursor: pointer;
    background-color: #34495e;
}

#message-error{
    color: red;
    text-align: center;
    margin-bottom: -7vh;
    display: none;
}

#result{
    margin-top: 4vh;
    display: none;
    text-align: center;
}

#result #video-title{
    margin-top: 5vh;
    color: #333;
}

#thumbnail-link{
    display: flex;
    justify-content: center;
}

#thumbnail-image{
    padding-top: 4vh;
    width: 66vh;
    height: 60vh;
}

footer{
    font-size: 2.2vh;
}

#container-footer{
    margin-top: 10vh;
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: #fff;
}

#container-donate-footer{
    margin-top: 10vh;
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
    color: #fff;
}

#container-footer-termos{
    margin-top: 10vh;
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: static;
    color: #fff;
}

#container-donate-footer a,
#container-footer a,
#container-footer-termos a{
    color: #fff;
}

.header ul{
    display: flex;
    justify-content: flex-end;
}

.header li{
    padding-top: 2.3vh;
    padding-left: 15vh;
    list-style: none;
    font-size: 2.7vh;
}

.header a{
    color: #fff;
    background-color: #2980b9;
    text-decoration: none;
    padding: 0.8vh;
    border-radius: 2vh;
}

.header a:hover{
    background-color: #34495e;
    border: solid 1px;
}

/* Ocultar o ícone "x" padrão em navegadores baseados em WebKit */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.container-contate {
    margin-top: 21vh;
    text-align: center;
}
  
.container-contate h2 {
    font-size: 4vh;
    margin-bottom: 10px;
}
  
.container-contate p {
    font-size: 2.5vh;
    margin-bottom: 10px;
}
  
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    font-size: 2.4vh;
}
  
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: underline;
}
  
.contact-item span {
    color: blueviolet;
    margin-right: 5px;
}
  
.contact-item a {
    color: blueviolet;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.contact-item a:hover {
    color: #ff0000;
}

.container-donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 2.5vh;
}

.donate-informations{
    padding-top: 5vh;
}

.donation{
    margin-top: 5vh;
}

.material-symbols-outlined{
    margin-bottom: 2vh;
    color: green;
}

.donation span{
    font-size: 5vh;
}

.chave-pix{
    margin-top: 3vh;
}

.chave-pix span{
    color: blueviolet;
    text-decoration: underline;
    font-size: 2.5vh;
    display: flex;
    flex-direction: column;
}

.container-termos {
    margin: 0 auto;
    padding: 20px;
    font-size: 2.5vh;
}

.container-termos h1, h2 {
    color: #333;
}

.container-termos h2 {
    margin-top: 4vh;
}

.container-termos p {
    color: #666;
    line-height: 1.5;
}

.title-termos{
    color: #333;
    padding-left: 2vh;
    padding-top: 1vh;
}

@media screen and (max-width: 768px) {
    .container,
    .container-contate{
        font-size: 2vh;
    }

    .container-contate{
        margin-top: 10vh;
    }

    .container-donate-footer{
        position: static;
    }

    .donation{
        max-width: 300px;
    }

    #input-link {
        width: 60%;
        font-size: 1.8vh;
    }

    .btn-search {
        width: 40%;
        font-size: 1.8vh;
        padding: 1vh;
    }

    #thumbnail-image {
        width: 100%;
        height: auto;
        max-height: 50vh;
        padding-top: 2vh;
    }

    .header {
        flex-direction: column;
        height: auto;
    }

    .logo {
        padding-left: 0;
        margin-bottom: 1vh;
        text-align: center;
    }

    .header ul {
        justify-content: center;
        padding-top: 0.5vh;
        margin-bottom: 2vh;
    }

    .header li {
        padding-left: 2vh;
        font-size: 2.2vh;
    }
}