@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.header{
    display: flex;
    background-color: #34495e;
    width: 100%;
    height: 9vh;
}

.logo{
    font-size: 4.7vh;
    padding-top: 0.6vh;
    padding-left: 2vh;
    color: #fff;
}

h2, p{
    text-align: center;
}

.container{
    margin-top: 5vh;
    color: #333;
}

.container .link-example{
    display: flex;
    justify-content: center;
    text-decoration: underline;
    margin-top: 3vh;
    color: #2980b9;
}

.search{
    margin-top: 5vh;
}

#input-link{
    width: 30%;
    height: 6vh;
    padding-left: 2vh;
    display: flex;
    margin: 0 auto;
    margin-top: 7vh;
}

.btn-search{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: 20%;
    padding: 1.2vh;
    background-color: #2980b9;
    color: #fff;
    border: 1px solid;
    margin-top: 6vh;
    border-radius: 3vh;
}

.btn-search:hover{
    cursor: pointer;
    background-color: #34495e;
}

#message-error{
    color: red;
    text-align: center;
    margin-bottom: -7vh;
    display: none;
}

#result{
    margin-top: 4vh;
    display: none;
    text-align: center;
}

#result #video-title{
    margin-top: 5vh;
    color: #333;
}

#thumbnail-link{
    display: flex;
    justify-content: center;
}

#thumbnail-image{
    padding-top: 4vh;
    width: 66vh;
    height: 60vh;
}

#container-footer{
    margin-top: 10vh;
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: fixed;
    color: #fff;
}

#container-footer a{
    color: #fff;
}

#footer-donate{
    margin-top: 10vh;
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
    color: #fff;
}

#footer-donate a{
    color: #fff;
}

#container-footer-termos{
    margin-top: 10vh;
    background-color: #34495e;
    padding: 20px;
    text-align: center;
    bottom: 0;
    width: 100%;
    position: relative;
    color: #fff;
}

.header ul{
    display: flex;
    justify-content: flex-end;
}

.header li{
    padding-top: 2.2vh;
    padding-left: 15vh;
    list-style: none;
    font-size: 3vh;
}

.header a{
    color: #fff;
    background-color: #2980b9;
    text-decoration: none;
    padding: 0.8vh;
    border-radius: 2vh;
}

.header a:hover{
    background-color: #34495e;
    border: solid 1px;
}

/* Ocultar o ícone "x" padrão em navegadores baseados em WebKit */
input[type="search"]::-webkit-search-cancel-button {
    -webkit-appearance: none;
    appearance: none;
    display: none;
}

.container-contate {
    margin-top: 21vh;
    text-align: center;
}
  
.container-contate h2 {
    font-size: 24px;
    margin-bottom: 10px;
}
  
.container-contate p {
    font-size: 16px;
    margin-bottom: 10px;
}
  
.contact-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
  
.contact-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-decoration: underline;
}
  
.contact-item span {
    color: blueviolet;
    margin-right: 5px;
}
  
.contact-item a {
    color: blueviolet;
    text-decoration: none;
    transition: color 0.3s ease;
}
  
.contact-item a:hover {
    color: #ff0000;
}

.container-donate {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.container-donate h3{
    padding-top: 6vh;
    text-align: center;
}

.donate-informations{
    padding-top: 5vh;
}

.donation{
    margin-top: 5vh;
}

.material-symbols-outlined{
    margin-bottom: 2vh;
    color: green;
}

.donation span{
    font-size: 7vh;
}

#link-pix{
    display: flex;
    padding-top: 4vh;
    padding-bottom: 4vh;
    font-size: 4vh;
    justify-content: center;
    color: blueviolet;
    text-decoration: underline;
}

.chave-pix{
    margin-top: 3vh;
}

.chave-pix span{
    color: blueviolet;
    text-decoration: underline;
    font-size: 3vh;
    display: flex;
    flex-direction: column;
}

.container-termos {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.container-termos h1, h2 {
    color: #333;
}

.container-termos h2 {
    margin-top: 30px;
}

.container-termos p {
    color: #666;
    line-height: 1.5;
}

.title-termos{
    color: #333;
    padding-left: 2vh;
    padding-top: 1vh;
}

@media (max-width:  720px) {
    .container-termos {
        padding: 10px;
    }
    .container {
        width: 90%;
        margin: 0 auto;
    }
      
    #thumbnail-image {
        width: 100%;
        height: auto;
    }

    #container-footer,
    #container-footer-termos,
    #footer-donate,
    #container-footer{
        text-align: center;
        justify-content: center;
    }
      
    .header li {
        padding-left: 2vh;
        margin-bottom: 10px;
    }

    .donate-informations,
    #link-pix{
        font-size: 3vh;
    }
}
